/node_modules
node_modules

/.next/
.next

.DS_Store
*.pem
$RECYCLE.BIN/
Desktop.ini

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
/DATA
.turbo
dist/

.env.postgres
.env.zinc
constants.ts
config.ts
