namespace api.Configs;

public static class TokenConfig 
{
  public const string RefreshSecret = "";
  public const string RefreshIss = "";
  public const string RefreshAud = "";
  
  public const string AccessSecret = "";
  public const string AccessIss = "";
  public const string AccessAud = "";
  
  public const string AccessTokenHeader = "access-token";
  public const string RefreshTokenCookie = "refresh-token";
  public const int RefreshTokenCookieMaxAge = 604800; // 7 days
}